.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.action-icons{
  height: 25px;
  width: 25px;
}
.cart-item{
  display: inline-flex;
  margin: 5px;
}
#Cart{
  display: flex;
  flex-direction: column;
}
#Navber{
  height: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
}
#Navber img{
  height: 30px;
  width: 30px;
  margin-left: 97%;
}
#number{
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 50%;
  margin: -20px 0 0 -10px;
}